<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Ninja | <%= title %></title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@100&display=swap');
        body{
            max-width: 1200px;
            margin: 20px auto;
            padding: 0 20px;
            font-family: 'Noto Serif', serif;
            max-width: 1200px;
        }
    </style>
</head>