<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>

    <%- include('./partials/nav.ejs') %>

<div class="about content">
    <h2>About Us</h2>
    <p>Stuff and Things and Stuff and Things</p>
    <p>Stuff and Things and Stuff and Things</p>
    <p>Stuff and Things and Stuff and Things</p>
</div>

</body>
</html>