<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Node.js Crash Course</title>
    </head>
    <body>
        <h1>About Us</h1>
        <h2>Welcome to the About Us page!</h2>
        <h3>While here, you'll learn about us :D</h3>
        <nav>
            <a href="/">Homepage</a>
            <a href="/about">About page</a>
            <a href="/about-us">About Us page</a>
        </nav>
    </body>
</html>